@keyframes mymove1 {
  from {
    left: 3rem;
  }
  to {
    left: 83%;
  }
}
@keyframes mymove2 {
  from {
    left: 3rem;
  }
  to {
    left: 68%;
  }
}
@keyframes mymove3 {
  from {
    left: 3rem;
  }
  to {
    left: 78%;
  }
}
@keyframes mymove4 {
  from {
    left: 3rem;
  }
  to {
    left: 68%;
  }
}
@keyframes mymove5 {
  from {
    left: 3rem;
  }
  to {
    left: 73%;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
  }
  to {
    bottom: 3rem;
  }
}
